@inherits FinderComponent

<div class="top-row text-end mt-3 px-4">
<AuthenticatedComponent>
    <Authenticated>
        <RadzenButton Click=@NavigateToLogout>Вийти</RadzenButton>
    </Authenticated>
    <NotAuthenticated>
        <RadzenButton Click=@NavigateToLogin>Логін</RadzenButton>
        <RadzenButton Click=@NavigateToRegister>Реєстрація</RadzenButton>
    </NotAuthenticated>
</AuthenticatedComponent>
<hr/>
</div>