@inherits FinderComponent

<div class="row">
    <div class="col-6">
        <FormTextInput @bind-Value=@RegistrationForm.UserFirstName FieldDescription="Ваше ім`я" Width="80%" />
        <FormTextInput @bind-Value=@RegistrationForm.UserLastName FieldDescription="Ваше прізвище" Width="80%" />
        <FormTextInput @bind-Value=@RegistrationForm.SchoolName FieldDescription="Школа, де ви працюєте" Width="80%" />
        <FormTextInput @bind-Value=@RegistrationForm.PositionInSchool FieldDescription="Посада, яку ви займаєте" Width="80%" />
        <FormTextInput @bind-Value=@RegistrationForm.UserEmail FieldDescription="Електронна пошта" Width="80%" />
    </div>
    <div class="col-6">
        <div>
            <FormPasswordInput @bind-Value=@RegistrationForm.UserPassWord FieldDescription="Пароль" Width="80%" />
            <FormPasswordInput @bind-Value=@ApprovedPassword FieldDescription="Повторіть пароль" Width="80%" />
            <RadzenText class="mt-2 ms-2">Додайте фото довідки з відділу кадрів про займану посаду</RadzenText>
            <RadzenUpload @ref=@Upload ChooseText="Перетягніть файл або оберіть натиснувши" Multiple=false
                          Change=@OnFileChange Accept="image/*" class="w-100 fileUpload" />
        </div>
        <div class="mt-3 row justify-content-around">
            <RadzenButton class="col-5 bg-danger" Click=@ClearForm>Очистити форму</RadzenButton>
            <RadzenButton class="col-5 bg-primary" Click=@AddRequest>Подати заявку</RadzenButton>
        </div>
    </div>
</div>
